@import "tailwindcss";

@theme {
  --color-header: #f7f4ed;
  --color-black: rgba(25, 25, 25, 1);
  --color-button-text: rgba(255, 255, 255, 1);
  --color-banner: #f7f4ed;
  --color-textColor: #242424;
  --color-topicsButton: #f2f2f2;
}

/* Ensure placeholder visibility */
.tiptap p.is-empty::before {
  content: attr(data-placeholder);
  color: #9ca3af; /* Tailwind gray-400 */
  float: left;
  height: 0;
  pointer-events: none;
}
